QWidget#titleWidget
{
    border-bottom: 1px solid #ccc;
    background-color: qlineargradient(
        x1: 0, y1: 0, x2: 0, y2: 1,
        stop: 0 #f7f7f7,
        stop: 1 #eee
        );
}

QWidget#dialogMainWidget { background: #f7f7f7; }

QWidget#quickRunWidget
{
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #f7f7f7;
}

QGraphicsView,
QPlainTextEdit,
QTableWidget,
QTextEdit
{
    border: 1px solid #ccc;
}

QWidget#ruleEdit,
QWidget#programEdit,
QWidget#graphEdit
{
    border-left: 1px solid #ccc;
}

/**
 * Form element styles
 */
QLineEdit
{
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 2px 4px;
}

QPushButton
{
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px 6px;
    background: qlineargradient(x1: 0, y1: 0, x2:0, y2: 1, stop: 0 #f7f7f7,
        stop: 1 #dddddd);
}

QSpinBox, QComboBox
{
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px 3px;
    background: qlineargradient(x1: 0, y1: 0, x2:0, y2: 1, stop: 0 #e0e0f0,
        stop: 1 rbga(200,200,200,0.5));
}

QComboBox::editable
{
    background: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 0;
}

QComboBox::drop-down
{
    border: 0;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    width: 20px;
}

QComboBox::down-arrow
{
    image: url(":/icons/small_bullet_arrow_down.png");
}

QSpinBox::down-button
{
    padding-bottom: 3px;
    image: url(":/icons/small_bullet_arrow_down.png");
}

QSpinBox::up-button
{
    padding-top: 3px;
    image: url(":/icons/small_bullet_arrow_up.png");
}

QPushButton:hover
{
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 3px 6px;
    background: qlineargradient(x1: 0, y1: 0, x2:0, y2: 1, stop: 0 #eee,
        stop: 1 #ccc);
}

QPushButton:pressed
{
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 3px 6px;
    background: qlineargradient(x1: 0, y1: 0, x2:0, y2: 1, stop: 0 #ccc,
        stop: 1 #eee);
}

QLineEdit:focus, QLineEdit:hover,
QComboBox:focus, QComboBox:hover,
QSpinBox:focus, QSpinBox:focus
{
    border-color: #8ae;
}

QWidget#buttons
{
    background: #f0f0f0;
    border-top: 1px solid #ccc;
}

/**
 * Group Box
 */

QGroupBox
{
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 0.5em;
}

QGroupBox::title
{
    subcontrol-origin: margin;
    subcontrol-position: top left;
    left: 0.5em;
    padding: 0 2px;
}
