QWidget#background
{
    background: url(":/images/stripes.png");
}

QWidget#centeredWidget
{
    background: #f7f7f7;
    border: 1px solid #ccc;
}

QWidget#welcomeTitle
{
    background: #f0f0f0;
    border: 1px solid #ccc;
}

QWidget#welcomeTitle QLabel
{
    font-size: 18px;
}
