*.output
*.pdf
*.hi
*~
*.cmx
*.cmo
TODO
*.swp
*.tab.c
*.tab.h
*.log
lex.yy.c
*.o
a.out
tmp/
*.a
*.txt
CaseStudies
GP2-*
GRIT
Graphite*
init_*
parser*
root
Definition
YAM
*.supp
Main*
Test*
runtime.c
runtime.h
