*.output
*.pdf
*.hi
*.swo
*~
*.cmx
*.cmo
TODO*
*.swp
*.log
*.o
tmp/
*.a
*.txt
GP2-*
GRIT
Graphite*
root
Definition
YAM
*.supp
tokenise
Results
testData
test
old
Makefile
Makefile.in
aclocal.m4
config.h.in
autom4te.cache/
compile
config.h
cacheonfig.h.in
config.status
configure
depcomp
install-sh
lib/.deps/
lib/Makefile
lib/Makefile.in
lib/lexer.c
missing
src/.deps/
src/Makefilekefile
src/Makefile.in
src/lexer.c
src/parser.c
src/parser.h
stamp-h1
test-driver
ylwrap
