*.output
*.pdf
*.hi
*.swo
*~
*.cmx
*.cmo
TODO
*.swp
*.log
*.o
*.out
core*
tmp/
*.a
*.txt
CaseStudies
GP2-*
GRIT
Graphite*
init_*
parser*
lexer*
root
Definition
YAM
*.supp
Main*
runtime.c
runtime.h
Haskell
tokenise
Results
labelClass*
