# Do not track Qt Creator generated user files
*.user
*.pro.user.*

# Don't track generated documentation
docs/*

# Don't track latex aux files
project/gp_compiler_proposal.*
!project/gp_compiler_proposal.tex
project/project.*
!project/project.tex
!project/project.bib

# Don't track backup files
*~
*autosave

# Don't save OSX directory files
*DS_STORE

# Don't track object files
*.o

# Ignore the top level CMAKE script
CMakeLists.txt

# Don't track Qt Creator files
GP2-editor.config 
GP2-editor.creator 
GP2-editor.files 
GP2-editor.includes

